* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #eee;
}

#container {
    display: flex;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
}

section {
    margin: 20px 5;

}

.main-top {
    width: 350px;
    text-align: center;
    margin-bottom: 5px;
    padding: 50px 50px;
    background-color: #fff;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    height: 50px;
    margin: 0 auto;
}

.username,
.password {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    border-radius: 3px;
}

input:focus {
    outline: none;
}

.login-btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 6px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.or {
    line-height: 50px;
}

.main-bottom a {
    margin: 20px 0;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}

.fa-facebook-f {
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    background-color: rgb(15, 15, 168);
    width: 20px;
    text-align: center;
    height: 20px;
    padding: 5px;
}

.bottom {
    width: 350px;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

.signUp a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
}

.app-section {
    text-align: center;
    padding: 10px 0;
}

.app-section span {
    font-size: 16px;
}

.images {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    margin: 0 5px;
    height: 35px;
}

footer {
    width: 70%;
    text-align: center;
    margin-top: 2rem;
}

footer a,
footer span,
footer select {
    font-size: 13px;
    color: #8e8e8e;
    text-decoration: none;
    margin: 5px;
}

footer select {
    outline: none;
    border: none;
    background-color: #eee;
}